* {
    /* Zerar conf padrão dos navegadores */
    margin: 0;
    padding: 0;
}

header {
    background: #BBB;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    /* Isso faz o elemento subir um z a mais? */
    position: relative;
    margin: 0 auto 0 auto;
}

.logo {
    width: 240px;
    height: 240px;
}

.produtos {
    width: 940px;
    margin: 0 auto 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    /* Para não alterar o tamanho já definido acima */
    box-sizing: border-box;

    border: 2px solid #000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;

}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

main li img {
    width: 240px;
    height: 240px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

/* Para mexer na forma em que é apresentado, é necessário alterar o display */

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    /* Para transformar o texto */
    text-transform: uppercase;
    color: #000;
    /* Peso da fonte */
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
   color: #C78C19; 
   text-decoration: underline;
}

footer {
    text-align: center;
    background-image: url("https://img.freepik.com/premium-photo/black-stone-texture-dark-slate-background-top-view_88281-1206.jpg?w=2000");
    padding: 40px 0;
}

.copyright {
    color: #FFF;
    font-size: 13px;
    margin-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;   
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

fieldset {
    border: 0;
}