/* 1. Background dos posts = #fffafa

   2. Cor da data = #008080​

   1. Elemento H1 = Montserrat

   2. Elementos com a classe date = Roboto

   3. Elementos com a classe post-content = Open Sans */

.post-container {
  /* Tips para deixar o conteúdo no centro :3 */
  margin: 0 auto 0 auto;
  width: 70%;
}

.post {
  padding: 20px;
  background-color: #fffafa;
}

.date {
  color: #008080;
  font-family: 'Roboto';
}

h1 {
  font-family: 'Montserrat';
}

.post-content > p{
  font-family: 'Open Sans';
}